<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="https://cdn.essoduke.org/js/twzipcode/jquery.twzipcode-1.7.8.min.js"></script>
	
	<style>
		body 		{ padding-top:80px; }
	</style>
	
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Store Name</label>
			<input type="text" class="form-control" name="storename">
		</div>
		
		<div class="form-group">
			<label>Address</label>
			<div id="twzipcode"></div>
			<input type="password" class="form-control" name="address">
		</div>
		<div class="form-group">
			<label>Telephone</label>
			<input type="password" class="form-control" name="telephone">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Send</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>

<script>
	$('#twzipcode').twzipcode({
    // 依序套用至縣市、鄉鎮市區及郵遞區號框
    'css': ['form-control', 'form-control', 'form-control']
});
</script>
	
</html>